<.header>
  Convesation #<%= @room %>
</.header>

<.table
  id="message_lines"
  rows={@streams.message_lines}
  row_click={fn {_id, message_line} ->
    JS.navigate(~p"/conversation/#{message_line.conversation_id}/messages/#{message_line}/edit") end
  }
>
  <:col :let={{_id, message_line}} label="Id"><%= message_line.id %></:col>
  <:col :let={{_id, message_line}} label="Body"><%= message_line.body %></:col>
  <:action :let={{_id, message_line}}>
    <.link patch={~p"/conversation/#{message_line.conversation_id}/messages/#{message_line}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, message_line}}>
    <.link
      phx-click={JS.push("delete", value: %{id: message_line.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<%= if @live_action == :edit do %>
  <.modal
    show
    id="message_line-modal"
    on_cancel={JS.patch(~p"/conversation/#{@room}")}>
    <.live_component
      module={LoadTestsWeb.MessageLineLive.FormComponent}
      id={@message_line.id}
      title={@page_title}
      action={:edit}
      room={@room}
      message_line={@message_line}
      patch={~p"/conversation/#{@room}"}
    />
  </.modal>
<% else %>
  <.live_component
    module={LoadTestsWeb.MessageLineLive.FormComponent}
    id={:new}
    title={'New Message'}
    action={:new}
    room={@room}
    message_line={@message_line}
    patch={~p"/conversation/#{@room}"}
  />
<% end %>
